* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}


 h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}


li {
  list-style: none;
}

/* ? React Toastify  */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

/* ? Responsive Design */
@media (max-width: 768px) {
  html {
    font-size: 50%; 
  }

  .container {
    padding: 2rem 1.2rem;
  }

  .grid-two-cols,
  .grid-four-cols {
    grid-template-columns: 1fr;
  }
}  
/*? layout Rule  */

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*? Module Rules / Reusable */
button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

.secondary-btn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}

/* ? state rule */
button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}
a:hover,
a:active{
  color: #535bf2;
}



/***** Hero Section *****/

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 4.8rem 0;
      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;
    & img {
      width: 70%;
      height: auto;
    }
  }
}

/***** End Hero  *****/

/***** analytics Section *****/
.section-analytics {
  margin: 9.6rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.section-analytics .container {
  background-color: var(--bg-color);
  border-radius: 1rem;
  ;
}

.section-analytics .grid {
  color: var(--dark-color);
  display: grid;
  gap: 2rem; /* Add gap for mobile view */
}

.section-analytics .div1 {
  text-align: center;
  border-right: 0.2rem solid var(--dark-color);
  padding: 2rem; /* Add padding for better spacing */
}

.section-analytics .div1:last-child {
  border: none;
}

.section-analytics .div1 h2 {
  font-size: 4.8rem;
}

.section-analytics .div1 p {
  text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .section-analytics .div1 h2 {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .section-analytics .div1 h2 {
    font-size: 3.2rem;
  }
  
  .section-analytics .div1 p {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .section-analytics {
    margin: 4rem 0; /* Reduced margin for smaller screens */
  }

  .section-analytics .container {
    padding: 2rem; /* Reduced padding for smaller screens */
  }

  .section-analytics .grid {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .section-analytics .div1 {
    border-right: none; /* Remove border in single column layout */
    margin-bottom: 2rem; /* Add margin bottom for spacing */
  }

  .section-analytics .div1 h2 {
    font-size: 2.8rem; /* Smaller font size for mobile */
  }

  .section-analytics .div1 p {
    font-size: 1.4rem; /* Smaller font size for mobile */
  }
}


/***** End analytics Section *****/




/** -----------------------
** contact section css
** -------------------------  */
.section-contact {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }
  & .container {
    padding-top: 3.2rem;
  }
  & .contact-img {
    display: flex;
    justify-content: start;
    align-items: center;
    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }
  }
}

/* pseduo elements  */
.main-heading {
  position: relative;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 0.5rem;
    background-color: var(--btn-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  a.active {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* error page  */
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#error-page .content {
  max-width: 70rem;
  text-align: center;
}
.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  animation: animate 10s ease-in-out infinite;
  background: -webkit-repeating-linear-gradient(
    -60deg,
    #71b7e6,
    var(--btn-color),
    #b98acc,
    #ee8176,
    #b98acc,
    var(--btn-color),
    #9b59b6
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  position: relative;
  -webkit-animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}
.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.content .btns a:hover {
  background: var(--btn-color);
  color: #fff;
}

/** -----------------------
** registration section css
** -------------------------  */

.section-registration {
  padding: 0 3.2rem;

  & .container {
    /* background-color: #fff; */
    padding-top: 3.2rem;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {
    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
    }
    & input {
      width: 80%;
      padding: 0.6rem 0.6rem;
    }

    & button {
      margin-top: 3.2rem;
    }
  }
}

.adminNav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.adminContainer {
  display: grid;
  padding-top: 0;
  grid-template-columns: 1fr 3fr;
}

.adminList {
  flex-direction: column;
  list-style-type: none;
}

.adminList li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

/** -----------------------
** services section css
** -------------------------  */

.section-services {
  & .container:first-child {
    padding: 0;
  }
  & .grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border: 0.2rem solid var(--helper-color);

    & .card-img {
      text-align: center;
      & img {
        width: 70%;
        height: auto;
        filter: drop-shadow(0 0 2rem 2rem #fff);
        -webkit-filter: drop-shadow(0 0 2rem 2rem #fff);
      }
    }

    & .card-details {
      padding: 2.4rem;

      & .grid p {
        font-size: 1.4rem;
      }

      & h2 {
        font-size: 3.2rem;
        margin: 1.2rem 0 2.4rem 0;
      }
    }
  }
}


/** -----------------------
** Admin Table CSS
** -------------------------  */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  text-transform: uppercase;

}

tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 1.5rem;
  color: #000;
}

tbody tr:last-child td {
  border-bottom: none;
}

td:nth-last-child(2) {
  text-align: left;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

td:nth-last-child(2):hover {
  color: #0056b3;
}

td:last-child button {
  text-align: left;
  cursor: pointer;
  background-color: #ff4d4d; /* Background color for Delete button */
  color: #fff; /* Text color */
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

td:last-child button:hover {
  background-color: #e60000;
}

@media (max-width: 768px) {
  th, td {
    padding: 0.75rem;
  }

  th, td {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  th, td {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.75rem;
  }

  td:last-child, td:nth-last-child(2) {
    font-size: 0.75rem;
  }
}

/** -----------------------
** media query section css
** -------------------------  */

@media (width <= 998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-services {
    & .grid-three-cols {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 60%;
        height: auto;
      }
    }
  }
}

@media (width <= 798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 50%;
        height: auto;
      }
    }

    & .registration-form {
      & input {
        width: 100%;
        padding: 0.6rem 0.6rem;
      }
    }
  }
}


/* When loading bar appear */
.loading-spin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40vw;
  text-align: center;
}