*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


li {
    list-style: none;
}
/*? layout Rule */
.container{
    max-width: 140rem;
    padding: 4rem 2.4rem;
    margin: 0 auto; 
}